@page spread_01 {
  size: ($page-width - $center-wrap) $page-height;

  /* show bleeds */
  marks: none;
  bleed: 0;
}

@page spread_01:left {
  margin-right: $margin-right - $center-wrap;
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

@page spread_01:right {
  margin-left: $margin-left - $center-wrap;
  @top-right {
    content: none;
  }
  @top-left {
    content: none;
  }
}

.spread_01 {
  page: spread_01;

  p:has(img):nth-of-type(2) {
    img {
      left: ($page-width - ($margin-left - $center-wrap) - $margin-right - ($page-width + 2 * $bleed-width) / 2 - $center-wrap) / 2;
    }
  }
}