@page spread_01 {}

.spread_01 {
  page: spread_01;
  background-color: rgba(255,255,255,0.4);
  width: max-content;
  max-width: max-content;

  body {
    break-before: left;
  }

  img {
    z-index: -10;
    position: absolute;
    display: block;
    object-fit: cover;
    transform: scale(2);
  }


  p:has(img):nth-of-type(1) {
    img {
      top: ($page-height - $margin-top - $margin-botom - ($page-height + 2 * $bleed-width) / 2) / 2;
      left: ($page-width - $margin-left - $margin-right - ($page-width + 2 * $bleed-width) / 2) / 2;
      width: ($page-width + 2 * $bleed-width) / 2;
      height: ($page-height + 2 * $bleed-width) / 2;
      max-width: ($page-width + 2 * $bleed-width) / 2;
      max-height: ($page-height + 2 * $bleed-width) / 2;
      object-position: left bottom;
    }
  }

  p:has(img):nth-of-type(2) {
    break-before: right;

    img {
      top: ($page-height - $margin-top - $margin-botom - ($page-height + 2 * $bleed-width) / 2) / 2;
      left: ($page-width - $margin-left - $margin-right - ($page-width + 2 * $bleed-width) / 2) / 2;
      width: ($page-width + 2 * $bleed-width) / 2;
      height: ($page-height + 2 * $bleed-width) / 2;
      max-width: ($page-width + 2 * $bleed-width) / 2;
      max-height: ($page-height + 2 * $bleed-width) / 2;
      object-position: -(($page-width + $bleed-width - $center-wrap) - $bleed-width - $center-wrap) / 2 bottom;
    }
  }
}